assume_role          = "administrator"
github_username      = "{{github_username}}"
github_email         = "{{github_email}}"
github_token         = "{{github_token}}"
github_webhook_token = "{{github_webhook_token}}"
dockerhub_username   = "{{dockerhub_username}}"
dockerhub_password   = "{{dockerhub_password}}"
snyk_token           = "{{snyk_token}}"
terraform_12_version = "{{terraform.terraform_12_version}}"
terraform_13_version = "{{terraform.terraform_13_version}}"
slack_webhook_url    = "{{slack_webhook_url}}"
gha_aws_concourse = {
  access_key_id = "{{gha_aws_concourse_access_key_id}}"
  secret_access_key = "{{gha_aws_concourse_secret_access_key}}"
}
