resource "github_repository" "example" {
  name             = "example"
  description      = "example"
  auto_init        = true
  license_template = "isc"

  allow_merge_commit = false
  has_issues         = true

  lifecycle {
    prevent_destroy = true
  }

  template {
    owner = "${var.github_organization}"
    repository = "dataworks-repo-template-terraform"
  }
}

resource "github_team_repository" "example_dataworks" {
  repository = "${github_repository.example.name}"
  team_id    = "${github_team.dataworks.id}"
  permission = "push"
}

resource "github_branch_protection" "example_master" {
  branch         = "${github_repository.example.default_branch}"
  repository     = "${github_repository.example.name}"
  enforce_admins = false

  required_status_checks {
    strict = true
    contexts = ["concourse-ci/status"]
  }

  required_pull_request_reviews {
    dismiss_stale_reviews      = true
    require_code_owner_reviews = true
  }
}

output "repository" {
  value = "${github_repository.example.name}"
}
