jobs:
  - name: deploy-commit-hooks
    max_in_flight: 1
    plan:
      - in_parallel:
          - get: dataworks-github-config-githooks
            trigger: true
          {% for repo in repos %}{% if not 'dataworks-githooks' in repo  %}
          - get: {{ repo }}{% endif %}{% endfor %}
      - task: commit-and-push
        config:
          inputs:
            - name: dataworks-github-config-githooks
            {% for repo in repos %}{% if not 'dataworks-githooks' in repo  %}
            - name: {{ repo }}{% endif %}{% endfor %}
          outputs:
            {% for repo in repos %}{% if not 'dataworks-githooks' in repo  %}
            - name: {{ repo }}-modified{% endif %}{% endfor %}
          platform: linux
          image_resource:
            type: docker-image
            source:
              repository: alpine/git
              tag: 1.0.7
          run:
            path: /bin/sh
            args:
              - -exc
              - |
                git config --global user.name "${GIT_USERNAME}"
                git config --global user.email "${GIT_EMAIL}"
                {% for repo in repos %}{% if not 'dataworks-githooks' in repo  %}
                git clone {{ repo }} {{ repo }}-modified
                cd {{ repo }}-modified
                git remote set-url origin https://github.com/dwp/{{ repo }}.git
                cp -r ../dataworks-github-config-githooks/.githooks .
                git add .githooks
                git diff --quiet && git diff --staged --quiet || git commit -m "update .githooks from dataworks-github-config"
                if [ ! -f Makefile ]; then
                  cp -r ../dataworks-github-config-githooks/Makefile.sample ./Makefile
                  git add Makefile
                  git diff --quiet && git diff --staged --quiet || git commit -m "create Makefile from dataworks-github-config/Makefile.sample"
                fi
                cd ..{% endif %}{% endfor %}
        params:
          GIT_USERNAME: ((dataworks.concourse_github_username))
          GIT_EMAIL: ((dataworks.concourse_github_email))
      - in_parallel:
        {% for repo in repos %}{% if not 'dataworks-githooks' in repo  %}
        - put: {{ repo }}
          params:
            repository: {{ repo }}-modified{% endif %}{% endfor %}
