resources:
{% for repo in repos %}{% if not 'dataworks-githooks' in repo  %}
- name: {{ repo }}
  type: git
  source:
    branch: master
    uri: https://github.com/dwp/{{ repo }}.git
    username: ((dataworks.concourse_github_username))
    password: ((dataworks-secrets.concourse_github_pat))
    git_config:
      - name: user.name
        value: ((dataworks.concourse_github_username))
      - name: user.email
        value: ((dataworks.concourse_github_email))
  check_every: 5m
{% endif %}{% endfor %}
